@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');
/* Main Style CSS */

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* reset lists */

ul {
    list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

:root {
    --primary: #007BFF; /* A modern shade of blue */
    --secondary: #4a8fd2; /* A slightly vibrant, lighter blue */
    --tertiary: #1a1f2a; /* A dark blue for text and UI elements */
    --neutral: #dfe3e8; /* A neutral grey-blue for borders and backgrounds */
    --light-neutral: #f5f7fa; /* Light grey-blue for backgrounds */
    --dark-neutral: #252a3a; /* Dark grey-blue for text and UI elements */
    --call-to-action: #52b788; /* A lively and inviting green */
    --warning: #e8a53a; /* A noticeable yet pleasant orange */
    --error: #d9534f; /* A more sophisticated, less aggressive red */
    --white: #fff;
    --black: #000;

    /* General styling */
    --radius: 3px;
}

.white-color {
  color: var(--white);
}
.black-color {
  color: var(--black);
}
.column {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: column;
}

/* Base button styles */
/* Base Button Style */
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: var(--radius);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none; /* Useful for <a> links */
    color: var(--white);
    border: 2px solid transparent; /* To prevent buttons from resizing on hover */
}

/* Primary Button */
.button-primary {
    background-color: var(--primary);
    color: var(--white);
}
.button-primary:hover {
    background-color: var(--secondary);
}

/* Secondary Button */
.button-secondary {
    background-color: var(--secondary);
    color: var(--tertiary);
}
.button-secondary:hover {
    background-color: var(--primary);
    color: var(--white);
}

/* Success Button */
.button-success {
    background-color: var(--call-to-action);
    color: var(--white);
}
.button-success:hover {
    background-color: var(--tertiary);
}

/* Warning Button */
.button-warning {
    background-color: var(--warning);
    color: var(--tertiary);
}
.button-warning:hover {
    background-color: var(--dark-neutral);
}

/* Error Button */
.button-error {
    background-color: var(--error);
    color: var(--white);
}
.button-error:hover {
    background-color: var(--dark-neutral);
}

/* Neutral Button */
.button-neutral {
    background-color: var(--neutral);
    color: var(--tertiary);
}
.button-neutral:hover {
    background-color: var(--dark-neutral);
    color: var(--white);
}

/* Call-to-Action Button */
.button-cta {
    background-color: var(--call-to-action);
    color: var(--white);
    padding: 12px 25px; /* Slightly larger than standard buttons */
    font-weight: bold;  /* Emphasize the importance */
    border-radius: var(--radius);
}
.button-cta:hover {
    background-color: var(--primary); /* A shift to primary on hover for emphasis */
}



/* Dark Mode Adjustments */
@media (prefers-color-scheme: dark) {
  /* Adjustments for buttons in dark mode can go here */
}



/* Base Link Style */
.link {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* Removing the default underline */
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

/* Specific color modifiers for links */
.link-primary {
    color: var(--primary);
}
.link-primary:hover {
    color: var(--secondary);
}

.link-secondary {
    color: var(--secondary);
}
.link-secondary:hover {
    color: var(--primary);
}

.link-success {
    color: var(--call-to-action);
}
.link-success:hover {
    color: var(--tertiary);
}

.link-warning {
    color: var(--warning);
}
.link-warning:hover {
    color: var(--dark-neutral);
}

.link-error {
    color: var(--error);
}
.link-error:hover {
    color: var(--dark-neutral);
}

.link-neutral {
    color: var(--neutral);
}
.link-neutral:hover {
    color: var(--dark-neutral);
}

/* Call-to-Action Link */
.link-cta {
    color: var(--call-to-action);
    font-weight: bold;  /* Emphasize the importance */
}
.link-cta:hover {
    color: var(--primary); /* A shift to primary on hover for emphasis */
}



/* Base label style */
.label {
  display: inline-block;
  font-weight: 500;
  font-size: 0.75rem; /* Typically 14px */
  line-height: 1.25;   /* Usually 1.25 for labels */
  margin: 1px;
  border-radius: var(--radius);
    padding: 0.2rem;
/*    capital letter*/
    text-transform: capitalize;
}

/* Primary label */
.label-primary {
  background-color: var(--primary);
  color: var(--white);
}

.label-large {
    font-size: 1em;
    padding: 0.5em 1em;
    display: inline-block;
    font-weight: 500;
    line-height: 1.25;
    margin: 0.5rem;
    border-radius: var(--radius);
}

/* Accent labels */
.label-light-blue {
  background-color: var(--secondary);
  color: var(--white);
}

.label-dark-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Neutral labels */
.label-gray {
  background-color: var(--neutral);
  color: var(--dark-neutral);
}

.label-light-gray {
  background-color: var(--light-neutral);
  color: var(--dark-neutral);
}

.label-dark-gray {
  background-color: var(--dark-neutral);
  color: var(--white);
}

/* Call-to-Action labels */
.label-green {
  background-color: var(--call-to-action);
  color: var(--white);
}

.label-orange {
  background-color: var(--warning);
  color: var(--white);
}

/* Error/Warning label */
.label-red {
  background-color: var(--error);
  color: var(--white);
}

.label-error {
    color: var(--error);
}


/* END OF RESET CSS */

/* GLOBAL CSS */
body {
    background-color: var(--light-neutral);
}

.dark {
    background-color: var(--tertiary);
    color: var(--white);
}

.container {
    display: flex;
}

/*row revers*/
.row-rev {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.container-col {
    display: flex;
    flex-direction: column;
}

.centerhv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


    .w-1 {
        width: 100%;
    }

    .w-1-2 {
        width: 50%;
    }

    .w-1-3 {
        width: 33.33%;
    }

    .width-half {
        width: 50%;
    }

    .width-1-3 {
        width: 33.33%;
    }

    .w-1-4 {
        width: 25%;
    }

    .w-3-2 {
        width: 66.77%;
    }


/*I want elemens inside gap-1 class to have margin between each other*/
.gapx-1 > * {
    margin-left: 0.5rem;
}

.gapy-05 > * {
    margin-top: 0.5rem;
}

.gapy-1 > * {
    margin-top: 1rem;
}

.gapr-1 > * {
    margin-right: 0.5rem;
}

/*set general margin*/

.m-1 {
    margin: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-2 {
    margin: 2rem;
}

.p-1 {
    padding: 1rem;
}

/*aside navigation open and collaps*/

/* HEADER CSS */
.header {
    width: auto; /* adjusts to content width */
    min-height: 100vmin;
    background-color: var(--neutral);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--dark-neutral);
    padding: 0 10px; /* optional: Add some horizontal padding to avoid content sticking to the edges */
}

.dark .header {
    background-color: var(--tertiary);
    color: var(--white);
}

/* filters CSS */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-filters {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
}

.seniority-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.range-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.range-price label {
    margin-right: 5px;
}

.range-price input {
    width: 50%;
    padding: 5px;
    text-align: center;
    border-radius: var(--radius);
}

.range-price input:first-of-type {
    margin-right: 15px;
}


/* end of filters CSS */
.submit-btn {
    margin-top: 40px;
}

.sign-up-login {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.sign-up-btn, .login-btn {
    width: 50%;
    background-color: var(--dark-blue);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-radius: var(--radius);
}

p.slogan {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
}
/* END OF HEADER CSS */

/* MAIN CONTENT CSS */
.main-content {
    display: flex;
    flex-direction: column;
}

.top-header {
    height: 61px;
    width: 100%;
    border-bottom: 1px solid var(--dark-neutral);
    display: flex;
    justify-content: space-between;
}

.switch, .profile-section {
    width: 50%;
}


.switch {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--dark-neutral);
}

label.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    margin: 0 15px;
}
  
label.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--radius);
    border: 1px solid var(--dark-neutral);
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: var(--dark-neutral);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--radius);
}

.checked {
    border: 1px solid var(--primary);
}

.profile-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-section img.profile-image {
    width: 50px;
    height: 50px;
    border-radius: var(--radius);
    border: 2px solid var(--dark-blue);
    margin-right: 20px;
}

/* LIST CONTAINER CSS */

.list-container {
    width: 98%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-top: 10px;
}

.list-content {
    width: 100%;
    padding-bottom: 50px;
}

.list {
    width: 100%;
    border-radius: var(--radius);
    margin-top: 20px;
    overflow-x: hidden;
}

.list-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--radius);
    margin-top: 20px;
    padding: 5px 15px;
    background-color: var(--white);
    gap: 15px;
    text-align: left;
    font-size: 14px;
}