@import './base.css';

.center-text {
  text-align: center;
}

/* create a footer element that sticks to the bottom */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--neutral);
  color: black;
  text-align: center;
}